@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?un623k');
  src:  url('fonts/icomoon.eot?un623k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?un623k') format('woff2'),
    url('fonts/icomoon.ttf?un623k') format('truetype'),
    url('fonts/icomoon.woff?un623k') format('woff'),
    url('fonts/icomoon.svg?un623k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-02:before {
  content: "\e928";
}
.icon-play_Artboard-2-01:before {
  content: "\e929";
}
.icon-bag_Artboard-3-05:before {
  content: "\e92a";
}
.icon-information-03:before {
  content: "\e92b";
}
.icon-setting-04:before {
  content: "\e92c";
}
.icon-layers:before {
  content: "\e900";
}
.icon-square:before {
  content: "\e901";
}
.icon-selecting-square-tool:before {
  content: "\e902";
}
.icon-communication-3:before {
  content: "\e903";
}
.icon-speech-bubble:before {
  content: "\e904";
}
.icon-whatsapp:before {
  content: "\e905";
}
.icon-multimedia-1:before {
  content: "\e906";
}
.icon-social-media:before {
  content: "\e907";
}
.icon-facebook-logo:before {
  content: "\e908";
}
.icon-circle:before {
  content: "\e909";
}
.icon-technology-2:before {
  content: "\e90a";
}
.icon-cinema:before {
  content: "\e90b";
}
.icon-image-gallery:before {
  content: "\e90c";
}
.icon-landscape-representing-photo-archive:before {
  content: "\e90d";
}
.icon-communication-2:before {
  content: "\e90e";
}
.icon-communication-1:before {
  content: "\e90f";
}
.icon-interface:before {
  content: "\e910";
}
.icon-communication:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-next:before {
  content: "\e913";
}
.icon-back:before {
  content: "\e914";
}
.icon-cross-out:before {
  content: "\e915";
}
.icon-social:before {
  content: "\e916";
}
.icon-shape:before {
  content: "\e917";
}
.icon-arrows-4:before {
  content: "\e918";
}
.icon-microphone:before {
  content: "\e919";
}
.icon-shopping:before {
  content: "\e91a";
}
.icon-smile:before {
  content: "\e91b";
}
.icon-menu-1:before {
  content: "\e91c";
}
.icon-menu:before {
  content: "\e91d";
}
.icon-technology-1:before {
  content: "\e91e";
}
.icon-arrows-3:before {
  content: "\e91f";
}
.icon-arrows-2:before {
  content: "\e920";
}
.icon-share:before {
  content: "\e921";
}
.icon-technology:before {
  content: "\e922";
}
.icon-multimedia:before {
  content: "\e923";
}
.icon-music:before {
  content: "\e924";
}
.icon-favorite:before {
  content: "\e925";
}
.icon-star:before {
  content: "\e926";
}
.icon-like:before {
  content: "\e927";
}
